---
const { lang } = Astro.props,
langfile = `../lang/${lang}/home/dl.json`

import(`../css/dl.css`)

export interface ComponentRequired {
	dlc: string
	dlc_gme: string
	dlc_lts: string
	dlc_ver: string
	dl_title: string
}
const { dlc, dlc_gme, dlc_lts, dlc_ver, dl_title } = await import(langfile) as ComponentRequired

---

<div class="dl bgw show-on-scroll" id="dl">
	<div class="bgsw">
		<img loading="lazy" src="/res/img/logo.png" alt="Team Fuho Vietnam" />
		<div>
			<h2 class="txtd">
				{dlc}
			</h2>
			<p class="txtd">
				{dlc_ver}
				1.4
				<strong
				>(
				{dlc_lts})</strong
				>
			</p>
			<p class="txtd">{dlc_gme}: <strong>Java Edition 1.14.4</strong></p>
			<a
			target="_blank"
			href="https://teamfuho.net/download/Happy_Vietnam_1.4.zip"
			>
			{dl_title}</a
			>
			<slot name="changelog"/>
			<!-- <a href={lang + "/dl"} class="lnk">Changelog</a> -->
		</div>
	</div>
	<div class="bgsw">
		<img loading="lazy" src="/res/img/logo.png" alt="Team Fuho Vietnam" />
		<div>
			<h2 class="txtd">
				{dlc}
			</h2>
			<p class="txtd">
				{dlc_ver}
				1.4
			</p>
			<p class="txtd">
				{dlc_gme}: <strong>Bedrock Edition ≥1.18.10</strong>
			</p>
			<a
			target="_blank"
			href="https://teamfuho.net/download/Happy_Vietnam_1.4_Bedrock_Edition.zip"
			>
			{dl_title}</a
			>
			<slot  name="gotodl"/>
		</div>
	</div>
</div>
