---

import Defaults from "../../defaults"
import Blog from "../../apis/blog"

import "../css/news.css";

const { alt_placeholder: imghld, title_holder: tthld } = Defaults
const { lang } = Astro.props

const { getPostList } = Blog,
  getDate = (post) => new Date(post.frontmatter.date).valueOf(),
  threeNewest = await getPostList(lang);
  // (await Astro.glob("../../pages/**/article/*.{md,mdx}"))
  //   .filter(post => post.file.includes(`/${lang}/`))
  //   .sort((a, b) => getDate(b) - getDate(a))
  //   .slice(0,3)
  //   .map(post => ({
  //     url: post.url as string,
  //     title: post.frontmatter.title as string,
  //     desc: post.frontmatter.desc as string || tthld,
  //     image: post.frontmatter.image as string || imghld
  //   }))

---

<script type="text/javascript"  src="/js/modules/news.js"></script>
<div class="news bgw show-on-scroll">
  {
    threeNewest.posts.map((post,i) => (
      <a href={post.url} id={`topnews${i}`}>
        <img loading="lazy" alt={post.desc} src={post.image} />
        <span></span>
        <div>
          <h2>{post.title}</h2>
        </div>
      </a>
    ))
  }
</div>
