---
import Shop from "../../paths/shop.astro";

import { Required } from "../../../defaults";
const { lang, filename, meta_title, meta_desc, meta_img, nav_home, nav_info, nav_gall, nav_news, nav_comm, nav_down, nav_join, nav_dl, credit, links } = Astro.props as Required

---
<Shop lang={lang} filename={filename} meta_title={meta_title} meta_desc={meta_desc} meta_img={meta_img} nav_home={nav_home} nav_info={nav_info} nav_gall={nav_gall} nav_news={nav_news} nav_comm={nav_comm} nav_down={nav_down} nav_join={nav_join} nav_dl={nav_dl} credit={credit} links={links}>
<h1>Your cart</h1>
<div id="cart">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr id="98esdf">
                <td>
                    <input type="checkbox" name="" id="" onchange="selCheck(this)">
                </td>
                <td>
                    <img src="/res/img/the2.png" alt="product" />
                    <div>
                        <h3>Product 1</h3>
                    </div>
                </td>
                <td>
                    <div>   
                        <span>-</span>
                        <input type="number" name="" id="" placeholder="1" max="192" min="1" value="1">
                        <span>+</span>
                    </div>
                </td>
                <td>$100</td>
                <td>$100</td>
                <td>
                    <a href="#">Remove</a>
                </td>
            </tr>
            <tr id="89fhEa">
                <td>
                    <input type="checkbox" name="" id="" onchange="selCheck(this)">
                </td>
                <td>
                    <img src="/res/img/the3.png" alt="product" />
                    <div>
                        <h3>Product 2</h3>
                    </div>
                </td>
                <td>
                    <div>
                        <span>-</span>
                        <input type="number" name="" id="" placeholder="1" max="192" min="1" value="1">
                        <span>+</span>
                    </div>
                </td>
                <td>$100</td>
                <td>$100</td>
                <td>
                    <a href="#">Remove</a>
                </td>
            </tr> -->
        </tbody>

    </table>
</div>

<div id="checkout">
    <div id="coupon">
        <h1>Coupon</h1>
        <section>
            <input type="text" name="" id="coupon-code" placeholder="Coupon Code">
            <button type="submit">Apply</button>
        </section>
        <section id="applied_coupon">
            <h3>Applied coupons</h3>
            <ul>
                <!-- <li> 
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Remove</button>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Remove</button>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Remove</button>
                </li> -->
            </ul>
        </section>
        <section id="available_coupon">
            <h3>Available coupons</h3>
            <ul>
                <!-- <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Apply</button>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Apply</button>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                    <button>Apply</button>
                </li> -->
            </ul>
        </section>
    </div>
    <div id="payment">
        <h1>Payment</h1>
        <p><span id="pcou"></span> Products selected</p>
        <!-- select delivery location -->
        <div id="delivery">
            <p>Delivery location</p>
            <select name="" id="">
                <option value="">Location 1</option>
                <option value="">Location 2</option>
                <option value="">Location 3</option>
            </select>
        </div>
        <p>Total: <span id="ppric"></span> (<span id="ppcoup"></span> off coupon)</p>
        <button type="submit">Checkout</button>
    </div>
</div>
</Shop>
