---
import Shop from "../../paths/shop.astro";

import { Required } from "../../../defaults";
const { lang, filename, meta_title, meta_desc, meta_img, nav_home, nav_info, nav_gall, nav_news, nav_comm, nav_down, nav_join, nav_dl, credit, links } = Astro.props as Required

---
<Shop lang={lang} filename={filename} meta_title={meta_title} meta_desc={meta_desc} meta_img={meta_img} nav_home={nav_home} nav_info={nav_info} nav_gall={nav_gall} nav_news={nav_news} nav_comm={nav_comm} nav_down={nav_down} nav_join={nav_join} nav_dl={nav_dl} credit={credit} links={links}>
<h1>Checkout</h1>
<p>2 Products selected</p>
<div id="selected">
    <table>
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr id="98esdf">
                <td>
                    <img src="/res/img/the2.png" alt="product" />
                    <div>
                        <h3>Product 1</h3>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="number" name="" id="" placeholder="1" max="192" min="1" value="1" disabled>
                    </div>
                </td>
                <td>$100</td>
                <td>$100</td>
                <td>
                    <a href="#">Remove</a>
                </td>
            </tr>
            <tr id="89fhEa">
                <td>
                    <img src="/res/img/the3.png" alt="product" />
                    <div>
                        <h3>Product 2</h3>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="number" name="" id="" placeholder="1" max="192" min="1" value="1" disabled>
                    </div>
                </td>
                <td>$100</td>
                <td>$100</td>
                <td>
                    <a href="#">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="info">
    <div id="select_coupon">
        <h3>Applied coupons</h3>
        <section id="applied_coupon">
            <ul>
                <li> 
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                </li>
                <li>
                    <span>$100</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quos.</p>
                </li>
            </ul>
        </section>
    </div>
    <div id="location">
        <h3>Shipping location</h3>
        <section>
            <p>Select delivery location</p>
            <select name="" id="">
                <!-- <option value="">Select location</option> -->
                <option value="">Location 1</option>
                <option value="">Location 2</option>
                <option value="">Location 3</option>
            </select>
        </section>
    </div>
</div>
<div id="summary">
    <div id="payment_method">
        <h3>Payment method</h3>
        <section>
            <p>Select payment method</p>
            <select name="" id="">
                <option value="">Payment method 1</option>
                <option value="">Payment method 2</option>
                <option value="">Payment method 3</option>
            </select>
        </section>
    </div>
    <div id="sum">
        <h3>Sumary</h3>
        <p>Products: $200</p>
        <p>Shipping: $0</p>
        <p>Coupon: $0</p>
        <h2>Total: $200</h2>
        <button>Start order</button>
    </div>
</div>
</Shop>
