---
import Home from "../../paths/home.astro";

const { lang } = Astro.props,
  filename = "404",
  langfile = `../../lang/${lang}/home/${filename}.json`

import(`../../css/pages/home/404.css`)

export interface PageRequired {
  meta_title?: string,
  meta_description: string,
  meta_img?: string,
  "404_title": string,
  err_desc: string,
  err_navi: string
}
const { err_desc, err_navi, meta_title, meta_description, meta_img } = 
  await import( /* @vite-ignore */ langfile) as PageRequired
const err_title=Astro.props["404_title"]
---
<Home lang={lang} filename={filename} meta_title={meta_title} meta_description={meta_description} meta_img={meta_img}>
<div
  id="lll"
  style="width: 94vw; color: #888; font-size: 3vh; margin: 10vh 3vw 0; display: flex;align-items: center;flex-direction: column; justify-content: center;"
>
  <h1 style="margin: 0">{err_title}</h1>
  <p>{err_desc}</p>
  <p>{err_navi}</p>
</div>
</Home>
