---
import Home from "../../paths/home.astro";
import Defaults from "../../../defaults";

const { lang } = Astro.props,
  filename = "gallery",
  langfile = `${Defaults.langHeadingPath?"":"../."}./lang/${lang}/home/${filename}.json`;

import "../../css/pages/home/gallery.css";

export interface PageRequired {
  meta_title?: string;
  meta_description: string;
  meta_img?: string;
  gall_typo: string;
  share: string;
  copied: string;
}
const { gall_typo, share, copied, meta_title, meta_description, meta_img } =
  (await import(/* @vite-ignore */ langfile, { assert: { type: 'json' } })) as PageRequired;
---

<Home
  lang={lang}
  filename={filename}
  meta_title={meta_title}
  meta_description={meta_description}
  meta_img={meta_img}
>
  <script define:vars={{ share, copied }}>
    window.inview = false;
    window.share = share;
    window.copied = copied;
  </script>
  <script src="../../js/pages/home/gallery.js"></script>

  <div class="xbu">
    <span onclick="window.fgal.brm()">
      <svg viewBox="0 0 22 22" version="1.1">
        <path
          style="fill:#fff;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
          d="m 3,3 v 1 l 7,7 -7,7 v 1 h 1 l 7,-7 7,7 h 1 V 18 L 12,11 19,4 V 3 H 18 L 11,10 4,3 Z"
        ></path>
      </svg>
    </span>
    <div>
      <span>
        <svg viewBox="0 0 22 22" version="1.1">
          <path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z"></path>
        </svg>
      </span>
      <span>
        <svg viewBox="0 0 22 22" version="1.1">
          <path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z"></path>
        </svg>
      </span>
    </div>
  </div>
  <div class="he">
    <h1>{gall_typo}</h1>
  </div>
  <!-- will be replaced by the generator -->
  <div class="imgal"></div>
  <!-- <h1>
	<--:up_ing--.>
</h1> -->
</Home>
