---
import Home from "../../paths/home.astro";
import NewsBox from "../../components/news-box.astro";
import DlBox from "../../components/dl-box.astro";
import Defaults from "../../../defaults";
const { lang } = Astro.props,
  filename = "index",
  langfile = `../../lang/${lang}/home/${filename}.json`;

import(`../../css/pages/home/index.css`);

export interface PageRequired {
  meta_title?: string;
  meta_description: string;
  meta_img?: string;
  build_1: string;
  build_1_desc: string;
  build_2: string;
  build_2_desc: string;
  build_3: string;
  build_3_desc: string;
  build_more: string;
  builds: string;
  dlc: string;
  dlc_gme: string;
  dlc_lts: string;
  dlc_ver: string;
  dwl: string;
  more: string;
  news_prev: string;
  typo: string;
  typo_desc: string;
  typo_join: string;
}
const {
  build_1,
  build_1_desc,
  build_2,
  build_2_desc,
  build_3,
  build_3_desc,
  build_more,
  builds,
  dwl,
  more,
  news_prev,
  typo,
  typo_desc,
  typo_join,
  meta_title,
  meta_description,
  meta_img,
} = (await import(/* @vite-ignore */ langfile)) as PageRequired;

const { allowedLanguages, defaultLanguage } = Defaults,
  exlang = lang == (defaultLanguage || allowedLanguages[0]) ? "" : "/" + lang;
---

<Home
  lang={lang}
  filename={filename}
  meta_title={meta_title}
  meta_description={meta_description}
  meta_img={meta_img}
>
  <script src="../../js/pages/home/index.js"></script>
  <div class="typo bgw">
    <span>
      <span
        style="
			background: url(/res/img/theme-min.jpg) no-repeat center center / cover;
			"
      ></span>
      <video id="b01" autoplay muted loop></video>
      <!-- <iframe src="https://www.youtube.com/embed/YXX_1n6EcCo?rel=0&amp;autoplay=1&mute=1&loop=1&playlist=YXX_1n6EcCo&showinfo&controls=0&modestbranding=1" title="Team Fuho" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
      <span style="background: rgba(20, 20, 20, 0.5)"></span>
    </span>
    <div>
      <h1 set:html={typo} />
      <br /><br />
      <div set:html={typo_desc} />
      <a href={exlang + "/comm#form"}>
        <p>
          {typo_join}
        </p>
      </a>
    </div>
  </div>
  <a class="sepa show-on-scroll" href={exlang + "/gallery"}>
    <div class="fromlft" style="margin-left: 4vw">
      <span
        class="circ"
        style="
			width: 20vh;
			bottom: 4.2vh;
			height: 20vh;
			background: #ff7518;
			animation: mhab 3s ease-in-out infinite;
			"
      ></span>
      <span
        class="circ"
        style="
			left: 66%;
			width: 8vh;
			top: 2.4vh;
			height: 8vh;
			background: #ff7518;
			animation: mhab 3s ease-in-out infinite;
			"
      ></span>
    </div>
    <span
      class="frombot"
      style="
		left: 14vw;
		bottom: 0;
		width: 24vw;
		height: 10vh;
		background: #002049;
		border-radius: 100vmax 30vmax 0 0;
		"
    ></span>
    <span
      class="fromtop"
      style="
		right: 16vw;
		top: 0;
		height: 18vh;
		width: 24vw;
		background: #002049;
		border-radius: 0 0 1vmax 8vmax;
		"
    ></span>
    <div class="fromrgt" style="right: -3vw; float: right">
      <span
        class="triag"
        style="
			background: #ff7518;
			top: 8vh;
			animation: mvab 2.9s ease-in-out infinite;
			"
      ></span>
      <span
        class="triag"
        style="
			background: #dafbff;
			top: 15.5vh;
			animation: mvab 2.9s ease-in-out infinite;
			"
      ></span>
    </div>
    <h1 class="hdc">
      {builds}
    </h1>
    <div class="uline">
      <span></span>
    </div>
  </a>
  <div class="builds bgw">
    <div class="bgw show-on-scroll">
      <div class="sub">
        <h1 class="txtd" set:html={build_1} />
        <div class="txtd" set:html={build_1_desc} />
      </div>
      <div class="subimg">
        <img
          loading="lazy"
          width="1920"
          height="1080"
          src="/res/img/theme-min.jpg"
          alt="Team Fuho Vietnam"
        />
      </div>
      <span class="fromrgt" style="background: #002049; right: 0; top: 46vh"
      ></span>
      <span
        class="circ fromlft"
        style="background: #ff7518; left: 0.5%; top: -5vh"></span>
    </div>
    <div class="bgw show-on-scroll">
      <div class="subimg">
        <img
          loading="lazy"
          width="1920"
          height="1080"
          src="/res/img/v3idk-min.jpg"
          alt="Team Fuho Vietnam"
        />
      </div>
      <div class="sub">
        <h1 class="txtd" set:html={build_2} />
        <div class="txtd" set:html={build_2_desc} />
      </div>
      <span class="fromlft circ" style="background: #002049; left: 0; top: 46vh"
      ></span>
      <span
        class="fromrgt circ"
        style="background: #ff7518; right: 14.5%; top: -5vh"></span>
    </div>
    <div class="bgw show-on-scroll">
      <div class="sub">
        <h1 class="txtd" set:html={build_3} />
        <div class="txtd" set:html={build_3_desc} />
      </div>
      <div class="subimg">
        <img
          loading="lazy"
          width="1920"
          height="1080"
          src="/res/img/2021-08-12_01.31.16-min.jpg"
          alt="Team Fuho Vietnam"
        />
      </div>
      <span
        class="circ fromrgt"
        style="background: #002049; right: 0; top: 46vh"></span>
      <span
        class="fromlft"
        style="
			width: 16vh;
			height: 16vh;
			background: #ff7518;
			left: 1%;
			top: -5vh;
			"
      ></span>
    </div>
    <p class="txtd">
      <a href={exlang + "/gallery"} class="lnk">
        {build_more}
        <br /><br />
      </a>
    </p>
  </div>
  <a class="sepa show-on-scroll" href={exlang + "/news"}>
    <div class="fromrgt" style="float: right">
      <span
        class="triag"
        style="
				background: #ff7518;
				top: 8vh;
				animation: mvab 3.1s ease-in-out infinite;
				"
      ></span>
      <span
        class="triag"
        style="
				background: #dafbff;
				top: 15.5vh;
				animation: mvab 3.1s ease-in-out infinite;
				"
      ></span>
    </div>
    <div class="fromlft">
      <span
        class="circ"
        style="
				left: 5vw;
				width: 24vh;
				top: 6vh;
				height: 24vh;
				background: #ff7518;
				animation: mhab 2.9s ease-in-out infinite;
				"
      ></span>
    </div>
    <div class="frombot" style="right: 0; position: absolute">
      <span
        class="circ"
        style="
				right: 18vw;
				width: 8vh;
				bottom: 10vh;
				height: 8vh;
				background: #ff7518;
				animation: mhab 3s ease-in-out infinite;
				"
      ></span>
    </div>
    <span
      class="fromtop"
      style="
			left: 24vw;
			top: 0;
			width: 24vw;
			height: 14vh;
			background: #002049;
			border-radius: 0 0 100vmax 30vmax;
			"
    ></span>
    <h1 class="hdc">
      {news_prev}
    </h1>
    <div class="uline">
      <span></span>
    </div>
  </a>
  <!-- <div class="news bgw show-on-scroll"></div> -->
  <NewsBox lang={lang} />
  <p class="bgw" style="padding: 0 0 2vh 0; margin: 0; font-size: 3vh">
    <a class="lnk" href={exlang + "/news"}> {more}...</a>
  </p>
  <a class="sepa show-on-scroll" href={exlang + "/dl"}>
    <div class="fromrgt" style="right: 2vw; float: right">
      <span
        class="circ"
        style="
				left: 24%;
				width: 20vh;
				height: 20vh;
				background: #ff7518;
				top: 4vh;
				animation: mhab 3s ease-in-out infinite;
				"
      ></span>
      <span
        class="circ"
        style="
				width: 8vh;
				height: 8vh;
				background: #ff7518;
				bottom: 1.2vh;
				animation: mhab 3s ease-in-out infinite;
				"
      ></span>
    </div>
    <span
      class="frombot"
      style="
			left: 18vw;
			bottom: 0;
			width: 24vw;
			height: 10vh;
			background: #002049;
			border-radius: 100vmax 30vmax 0 0;
			"
    ></span>
    <span
      class="fromtop"
      style="
			right: 16vw;
			top: 0;
			height: 18vh;
			width: 24vw;
			background: #002049;
			border-radius: 0 0 1vmax 8vmax;
			"
    ></span>
    <div
      class="fromlft"
      style="left: 4vw; height: 100%; width: 32vh; display: inline-block"
    >
      <span
        class="triag"
        style="
			background: #ff7518;
			top: 10vh;
			animation: mvab 2.8s ease-in-out infinite;
			"
      ></span>
      <span
        class="triag"
        style="
			background: #dafbff;
			top: 17.5vh;
			animation: mvab 2.8s ease-in-out infinite;
			"
      ></span>
    </div>
    <h1 class="hdc">
      {dwl}
    </h1>
    <div class="uline">
      <span></span>
    </div>
  </a>
  <DlBox lang={lang}>
    <a slot="changelog" href={exlang + "/dl"} class="lnk">Changelog</a>
    <a slot="gotodl" href={exlang + "/dl"} class="lnk">
      {more}
    </a>
  </DlBox>
  <!-- <div class="dl bgw show-on-scroll" id="dl">
		<div class="bgsw">
			<img loading="lazy" src="/res/img/logo.png" alt="Team Fuho Vietnam" />
			<div>
				<h2 class="txtd">
					{dlc}
				</h2>
				<p class="txtd">
					{dlc_ver}
					1.4
					<strong
					>(
					{dlc_lts})</strong
					>
				</p>
				<p class="txtd">{dlc_gme}: <strong>Java Edition 1.14.4</strong></p>
				<a
				target="_blank"
				href="https://teamfuho.net/download/Happy_Vietnam_1.4.zip"
				>
				{dwl}</a
				>
				<a href={exlang + "/dl"} class="lnk">Changelog</a>
			</div>
		</div>
		<div class="bgsw">
			<img loading="lazy" src="/res/img/logo.png" alt="Team Fuho Vietnam" />
			<div>
				<h2 class="txtd">
					{dlc}
				</h2>
				<p class="txtd">
					{dlc_ver}
					1.4
				</p>
				<p class="txtd">
					{dlc_gme}: <strong>Bedrock Edition ≥1.18.10</strong>
				</p>
				<a
				target="_blank"
				href="https://teamfuho.net/download/Happy_Vietnam_1.4_Bedrock_Edition.zip"
				>
				{dwl}</a
				>
				
				<a href={exlang + "/dl"} class="lnk">
					{more}
				</a>
			</div>
		</div>
	</div> -->
</Home>
