---
import Home from "../../paths/home.astro";
import Defaults from "../../../defaults";
import NewsBox from "../../components/news-box.astro";

import "../../css/pages/home/news.css";

const PostGlobs = []; // (await Astro.glob("../../../pages/**/article/*.{md,mdx}"))

const { lang } = Astro.props,
	filename = "news",
	langfile = `${Defaults.langHeadingPath?"":"../."}./lang/${lang}/home/${filename}.json`;

const {
	alt_placeholder: imghld,
	title_holder: tthld,
	defaultLanguage,
} = Defaults;

export interface PageRequired {
	meta_title?: string;
	meta_description: string;
	meta_img?: string;
	news: string;
	search: string;
}
const { news, search, meta_title, meta_description, meta_img } = (await import( /* @vite-ignore */ langfile, { assert: { type: 'json' } })) as PageRequired;

const exlang = lang == defaultLanguage ? "" : "/" + lang;
const getDate = (post) => new Date(post.frontmatter.date).valueOf(),
	Posts = PostGlobs
		.filter((post) => post.file.includes(`${lang}/`))
		.sort((a, b) => getDate(b) - getDate(a))
		.map((post) => ({
			url: post.url as string,
			title: post.frontmatter.title as string,
			desc: (post.frontmatter.desc as string) || tthld,
			image: (post.frontmatter.image as string) || imghld,
			reldate: ~~(
				new Date(post.frontmatter.date).valueOf() / 86400000
			) as number,
		}));
---

<Home
	lang={lang}
	filename={filename}
	meta_title={meta_title}
	meta_description={meta_description}
	meta_img={meta_img}
>
	<script src="../../js/pages/home/news.js"></script>
	<script define:vars={{ Posts }}>
		window.postList = Posts;
	</script>
	<div id="head">
		<h1 class="txtd">{news}</h1>
		<div>
			<div>
				<input
					type="text"
					placeholder={search}
					id="searchbar"
					onfocus="document.getElementById('srr').style.display='block'"
					onblur="setTimeout(()=>document.getElementById('srr').style.display='none',500)"
				/>
				<svg viewBox="0 0 24 24">
					<path
						fill="#002049"
						d="m 9.0518744,15.505 v -0.79 l 0.27,-0.28 c 1.3999996,1.2 3.3099996,1.82 5.3399996,1.48 2.78,-0.47 5,-2.79 5.34,-5.59 0.52,-4.23 -3.04,-7.79 -7.27,-7.27 -2.7999996,0.34 -5.1199996,2.56 -5.5899996,5.34 -0.34,2.03 0.28,3.94 1.48,5.34 l -0.28,0.27 h -0.79 l -4.25,4.25 c -0.41,0.41 -0.41,1.08 0,1.49 0.41,0.41 1.08,0.41 1.49,0 z m 0,-6 c 0,-2.49 2.0099996,-4.5 4.4999996,-4.5 2.49,0 4.5,2.01 4.5,4.5 0,2.49 -2.01,4.5 -4.5,4.5 -2.49,0 -4.4999996,-2.01 -4.4999996,-4.5 z"
					></path>
				</svg>
			</div>
			<div id="srr"></div>
		</div>
	</div>
	<span
		style="
		position: absolute;
		left: 2vw;
		width: 12vw;
		top: 4vh;
		height: 12vw;
		background: #ff7518;
		border-radius: 100vmax;
	"
	></span>
	<NewsBox lang={lang} />
	<div id="newscontent">
		<!-- {
			Posts.map((post, i) => (
				<a href={post.url} class={`newsbg newsitem${i}`}>
					<img loading="lazy" alt={post.desc} src={post.image} />
					<div>
						<h1 class="txtd">{post.title}</h1>
						<p class="kad txtd">{post.desc}</p>
					</div>
				</a>
			))
		} -->
	</div>
</Home>
