---
import Main from "../main.astro";

const { lang } = Astro.props,
  filename = "404",
  langfile = `../lang/${lang}/404.json`


export interface EnfRequired {
  meta_title?: string,
  meta_description: string,
  meta_img?: string,
  default: {
    "404_title": string,
    "404_desc": string
  },
  err_desc: string,
  err_navi: string
}
const { default: { "404_title" : code_title, "404_desc" : code_desc }, err_desc, err_navi, meta_title, meta_description, meta_img } = 
  await import( /* @vite-ignore */ langfile) as EnfRequired

---
<Main lang={lang} filename={filename} meta_title={meta_title} meta_description={meta_description} meta_img={meta_img}>
<style>

#lll {
  width: 94vw;
  color: #888;
  font-size: 3vh;
  margin: 10vh 3vw 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 0;
}

@media (min-aspect-ratio: 133/100) {
  #lll {
    height: 60vh;
  }
  #lll > h1 {
    font-size: 20vh;
  }
}
@media (max-aspect-ratio: 133/100) {
  #lll {
    height: 90vh;
  }
  #lll > h1 {
    font-size: 16vh;
  }
}

p {
  margin-bottom: 0;
}

</style>
<div id="lll">
  <h1 style="margin: 0">{code_title}</h1>
  <p>{err_desc}</p>
  <p>{err_navi}</p>
</div>
</Main>
