---
import Main from "../main.astro";
import Defaults from "../../defaults";
import Blog from "../../apis/blog";

import "../css/pages/article.css";
export interface PostRequired {
	author?: string,
	date?: any,
	excerpt?: string,
	content?: string,
	thumb?: string,
	tags?: Array<string>,
	title: string
}

const { alt_placeholder: imghld, title_holder: tthld, defaultLanguage } = Defaults

const { lang, articleID } = Astro.props,
	filename = "article",
	langfile = `${Defaults.langHeadingPath?"":"."}./lang/${lang}/${filename}.json`
export interface ArticleRequired {
	back: string,
	by: string,
	share_fb: string,
	share_rd: string,
	share_tw: string
}

const { 
	back,
	by,
	share_fb,
	share_rd,
	share_tw
} = (await import( /* @vite-ignore */ langfile, { assert: { type: 'json' } })) as ArticleRequired

const { getSinglePost, getPostList } = Blog,
	{ 
		author = "Anonymous",
		content = "",
		date = Date().toString(),
		excerpt = tthld,
		thumb = imghld,
		tags = [],
		title
	} = await getSinglePost(lang, articleID) as PostRequired

const postDate = new Date(date).toLocaleString(lang, {
		dateStyle: "full",
		timeStyle: "short",
		hour12: false,
	})

// const getDate = (post) => ~~(new Date(post.date).valueOf()/86400000),
	// sortFn = (r) => 
		// (getDate(r) + r.size) // adition method
		// ((r.size + 1) / (~~(+new Date/86400000) - getDate(r))) // division method

const Related = await getPostList(lang, "", tags);
// (await Astro.glob('/src/pages/**/article/*.{md,mdx}'))
// 	.filter(({ url }) => url !== Astro.props.url && url.includes(`/${lang}/`))
// 	.map(post => ({
// 		url: post.url as string,
// 		title: post.frontmatter.title as string,
// 		desc: post.frontmatter.desc as string || tthld,
// 		image: post.frontmatter.image as string || imghld,
// 		date: post.frontmatter.date as Date,
// 		size: (tags.filter(f => 
// 			(post.frontmatter.tags as Array<String> || new Array<String>)
// 				.includes(f))
// 				.length * 3) as number 
// 	}))
// 	.sort((a, b) => sortFn(b) - sortFn(a))
---

<Main lang={lang} filename="news" meta_title={title} meta_description={excerpt} meta_img={thumb}>
	<script define:vars={{ by, tags }}>
		window.articleTags = tags
	</script>
	
	<script src="../js/pages/article.js"></script>
	
	<div id="bruh" class="show-on-scroll">
		<div>
			<div>
				<span title={share_fb}>
					<svg viewBox="0 0 14222 14222">
						<path
						d="M9879 9168l315-2056H8222V5778c0-562 275-1111 1159-1111h897V2917s-814-139-1592-139c-1624 0-2686 984-2686 2767v1567H4194v2056h1806v4969c362 57 733 86 1111 86s749-30 1111-86V9168z"
						/>
					</svg>
				</span>
				<span title={share_tw}>
					<svg viewBox="0 0 180 180">
						<g transform="translate(-270.32053,-370.30734)">
							<path
							id="path5"
							d="m 453.82593,412.80619 c -6.3097,2.79897 -13.09189,4.68982 -20.20852,5.54049 7.26413,-4.35454 12.84406,-11.24992 15.47067,-19.46675 -6.79934,4.03295 -14.3293,6.96055 -22.34461,8.53841 -6.41775,-6.83879 -15.56243,-11.111 -25.68298,-11.111 -19.43159,0 -35.18696,15.75365 -35.18696,35.18525 0,2.75781 0.31128,5.44359 0.91155,8.01875 -29.24344,-1.46723 -55.16995,-15.47582 -72.52461,-36.76396 -3.02879,5.19662 -4.76443,11.24048 -4.76443,17.6891 0,12.20777 6.21194,22.97747 15.65332,29.28716 -5.76773,-0.18265 -11.19331,-1.76565 -15.93716,-4.40083 -0.004,0.14663 -0.004,0.29412 -0.004,0.44248 0,17.04767 12.12889,31.26806 28.22555,34.50266 -2.95247,0.80436 -6.06101,1.23398 -9.26989,1.23398 -2.2673,0 -4.47114,-0.22124 -6.62011,-0.63114 4.47801,13.97857 17.47214,24.15143 32.86992,24.43441 -12.04227,9.43796 -27.21366,15.06335 -43.69965,15.06335 -2.84014,0 -5.64082,-0.16722 -8.39349,-0.49223 15.57186,9.98421 34.06703,15.8094 53.93768,15.8094 64.72024,0 100.11301,-53.61524 100.11301,-100.11387 0,-1.52554 -0.0343,-3.04251 -0.10204,-4.55261 6.87394,-4.95995 12.83891,-11.15646 17.55618,-18.21305 z"
							/>
						</g>
					</svg>
				</span>
				<span title={share_rd}>
					<svg viewBox="0 0 429.709 429.709">
						<g>
							<path
							d="M429.709,196.618c0-29.803-24.16-53.962-53.963-53.962c-14.926,0-28.41,6.085-38.176,15.881
							c-30.177-19.463-68.73-31.866-111.072-33.801c0.026-17.978,8.078-34.737,22.104-45.989c14.051-11.271,32.198-15.492,49.775-11.588
							l2.414,0.536c-0.024,0.605-0.091,1.198-0.091,1.809c0,24.878,20.168,45.046,45.046,45.046s45.046-20.168,45.046-45.046
							c0-24.879-20.168-45.046-45.046-45.046c-15.997,0-30.01,8.362-38.002,20.929l-4.317-0.959c-24.51-5.446-49.807,0.442-69.395,16.156
							c-19.564,15.695-30.792,39.074-30.818,64.152c-42.332,1.934-80.878,14.331-111.052,33.785c-9.767-9.798-23.271-15.866-38.2-15.866
							C24.16,142.656,0,166.815,0,196.618c0,20.765,11.75,38.755,28.946,47.776c-1.306,6.68-1.993,13.51-1.993,20.462
							c0,77.538,84.126,140.395,187.901,140.395s187.901-62.857,187.901-140.395c0-6.948-0.687-13.775-1.991-20.452
							C417.961,235.381,429.709,217.385,429.709,196.618z M345.746,47.743c12,0,21.762,9.762,21.762,21.762
							c0,11.999-9.762,21.761-21.762,21.761s-21.762-9.762-21.762-21.761C323.984,57.505,333.747,47.743,345.746,47.743z M23.284,196.618
							c0-16.916,13.762-30.678,30.678-30.678c7.245,0,13.895,2.538,19.142,6.758c-16.412,14.08-29.118,30.631-37.007,48.804
							C28.349,215.937,23.284,206.868,23.284,196.618z M333.784,345.477c-31.492,23.53-73.729,36.489-118.929,36.489
							s-87.437-12.959-118.929-36.489c-29.462-22.013-45.688-50.645-45.688-80.621c0-29.977,16.226-58.609,45.688-80.622
							c31.492-23.53,73.729-36.489,118.929-36.489s87.437,12.959,118.929,36.489c29.462,22.013,45.688,50.645,45.688,80.622
							C379.471,294.832,363.246,323.464,333.784,345.477z M393.605,221.488c-7.891-18.17-20.596-34.716-37.005-48.794
							c5.247-4.22,11.901-6.754,19.147-6.754c16.916,0,30.678,13.762,30.678,30.678C406.424,206.867,401.353,215.925,393.605,221.488z"
							/>
							<circle cx="146.224" cy="232.074" r="24.57" />
							<circle cx="283.484" cy="232.074" r="24.57" />
							<path
							d="M273.079,291.773c-17.32,15.78-39.773,24.47-63.224,24.47c-26.332,0-50.729-10.612-68.696-29.881
							c-4.384-4.704-11.751-4.96-16.454-0.575c-4.703,4.384-4.96,11.752-0.575,16.454c22.095,23.695,53.341,37.285,85.726,37.285
							c29.266,0,57.288-10.847,78.905-30.543c4.752-4.33,5.096-11.694,0.765-16.446C285.197,287.788,277.838,287.44,273.079,291.773z"
							/>
						</g>
					</svg>
				</span>
			</div>
		</div>
		<div>
			<a style="font-size: 2vh" class="lnk" onclick="window.history.back()">
				<svg viewBox="0 0 24 24" style="width: 3.6vh; height: 3.6vh; display: block; fill: #002049">
					<path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
					<path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z" />
				</svg>
				{back}
			</a>
			<h1>{title}</h1>
			<div style="display: flex;font-size: 1.6vh;width: 100%;height: 3vh;justify-content: space-between;padding:0 1vh;box-sizing:border-box">
				<i>{by} <span id="auname">{author}</span></i>
				<p style='margin:0'>{postDate}</p>
			</div>
			<div id="mdtext" set:html={content}>
			</div>
		</div>
		<div>
			<div class="rel">
				<h3>Có thể bạn muốn đọc</h3>
				{
					Related.slice(0,3).map((post,i) => (
						<a href={post.url} class={`show-on-scroll relitem${i}`}>
							<img loading="lazy" src={post.image} alt={post.desc}/>
							<span></span>
							<h2>{post.title}</h2>
						</a>
					))
				}
			</div>
		</div>
		<div
			class="fb-comments"
			data-href="https://teamfuho.net<facebook-data>"
			data-width="720"
			data-numposts="5"
			style="overflow-x: hidden">
		</div>
	</div>
	<div id="fb-root"></div>
	<script
		async
		defer
		crossorigin="anonymous"
		src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0&appId=323683069260415&autoLogAppEvents=1"
		nonce="ZHbZ3wF1">
	</script>
	<h1 style="color: #002049; font-size: 4vh">Bài viết liên quan</h1>
	<div class="rel sec">
		<!-- <p>Related</p> -->
			{
				Related.map((post,i) => (
					<a href={post.url} class={`show-on-scroll newsbg relitem${i}`}>
						<img loading="lazy" src={post.image || imghld} alt={post.desc || tthld}/>
						<span></span>
						<h2>{post.title}</h2>
					</a>
				))
			}
	</div>
</Main>
	
	