---
import Main from "../main.astro";

const { lang, filename, meta_title, meta_description, meta_img } = Astro.props

---
<Main lang={lang} filename={filename} meta_title={meta_title} meta_description={meta_description} meta_img={meta_img}>
	<slot />
</Main>
