---
import "./css/main.css"

import { Required } from "../defaults";
const { lang = "vi", filename, meta_title = "Vietnam", meta_desc, meta_img = "/placeholder", nav_home, nav_info, nav_gall, nav_news, nav_comm, nav_down, nav_join, nav_dl, credit, links } = Astro.props as Required
const title="Team Fuho " + (filename != "index" ? "- " : "") + meta_title,
    exlang = lang=="vi"?"":lang
---

<!DOCTYPE html>
<html lang={lang} style="scroll-behavior: smooth;">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="teamfuho, fuho, tfh, tfhvn, vietnam, minecraft, phi hoang dat, Phí Hoàng Đạt, happy vietnam">
	<meta property="og:title" content={title}>
	<meta property="og:type" content="website" />
	<meta property="description" content={meta_desc}>
	<meta property="og:description" content={meta_desc}>
	<meta property="og:image" content={meta_img}>
	<meta name="twitter:card" content="summary_large_image">
	<title>{title}</title>
  <!-- <style>
    a.txtd.d{filename} {
      color: #ff7518!important;
    }
  </style> -->
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href={"/css/" + lang + ".css"}>
  <script define:vars={{ filename }}>
var tbh = true
  const scroll =
      window.requestAnimationFrame ||
      function (callback) {
        window.setTimeout(callback, 1000 / 60)
      },
      nav = document.querySelector(".nav"),
      root = document.documentElement
  
  let reqheight = 0,
      reqmin = 0,
      reqmax = 0
const 
  customfunc = [],
  isElementInViewport = (e) => {
    let rect = e.getBoundingClientRect(),
      clientHeight = window.innerHeight || document.documentElement.clientHeight
    return (
      (rect.top <= 0 && rect.bottom >= 0) ||
      (rect.bottom >=
        clientHeight &&
        rect.top <=
          clientHeight) ||
      (rect.top >= 0 &&
        rect.bottom <=
          clientHeight)
    )
  }

function fscr() {
  let b = window.scrollY
  nav.style.top =
    b == reqheight || (b >= reqmin && b <= reqmax) ? "-10vh" : "0"
  scroll(fscr)
}

function tscr() {
  let b = window.scrollY
  let spn = document.querySelector("footer>div:first-child>span");
  spn.style.opacity =
    b == reqheight || (b >= reqmin && b <= reqmax) ? "0" : "1"
  scroll(tscr)
}
    
window.addEventListener("DOMContentLoaded", e => {
  let currentpage=document.querySelector(`a.txtd.d${filename}`)
  currentpage.style.color = "color: #ff7518!important;"
  document.getElementById("butt").onclick = ()=>{
    let xtab = document.getElementById("tab"),
      swipe = document.getElementById("swipe"),
      rat = window.innerWidth / window.innerHeight,
      buttonSvg = document.querySelector("#butt>svg"),
      button = document.getElementById("butt"),
      d=[]
    if (rat <= 133 / 100) {
      (tbh) ? d=[100,180,"rgba(255, 255, 255, 0.8)"] : d=[0,0,"none"]
      swipe.style.width = `${d[0]}vw`
      buttonSvg.style.transform = `rotate(${d[1]}deg)`
      button.style.background = d[2]
      tbh = !tbh
    } else {
      swipe.style.width = "40vw"
    }
  }

  function loop() {
    document.querySelectorAll(".show-on-scroll").forEach(function (element) {
      if (isElementInViewport(element)) {
        element.classList.add("is-visible")
      } else {
        element.classList.remove("is-visible")
      }
    })
    // scroll(loop)
  }

  document.onscroll = loop
  // function languageSelector(slang) {
  //   let content = document.getElementsByClassName("lang-popup"),
  //     selang = document.getElementsByClassName("sl_" + slang)
  //   for (let i = 0; i < content.length; i++) content[i].style.display = "none"
  //   for (let i = 0; i < selang.length; i++) selang[i].style.display = "unset"
  //   tarlang = slang
  // }
  // function relang() {
  //   location.href = location.href.replace(`/${lang}`, `/${tarlang}`)
  // }
  // function strdom(s) {
  // 	return new DOMParser().parseFromString(s, "text/html").body.firstChild
  // }
  // function chklod(target, where, callback) {
  // 	fetch(where)
  // 		.then(r=>r.text())
  // 		.then(res => {
  // 			document.getElementById(target).innerHTML = res
  // 			if (callback) callback()
  // 		})
  // }

  // function strdom(s) {
  // 	return new DOMParser().parseFromString(s, 'text/html').body.firstChild
  // }
  // function chklod(target, where, callback) {
  // 	fetch(where)
  // 		.then(res => res.text())
  // 		.then(res => {
  // 			document.getElementById(target).innerHTML = res
  // 			if (callback) callback()
  // 		})
  // }

  // document.addEventListener("DOMContentLoaded", () => {
  let srl = window.scrollY
  window.scrollTo(0, srl)
  // const elementsToShow = document.querySelectorAll(".show-on-scroll")
  loop()
  root.style.setProperty("--vh", Math.sqrt(innerHeight) + "px")
  window.onresize = () => {
    tbh = !tbh
    root.style.setProperty("--vh", Math.sqrt(innerHeight) + "px")
    customfunc.forEach((f) => f())
  }

  customfunc.forEach((f) => f())
  tscr()
})
  </script>
  <!-- <script src="/bundle/main.bundle.js"></script> -->
</head>

<body id="root" style="display: none">
  <div class="nav bgw">
    <a href={`/${exlang}`}>
      <img class="icns" loading="lazy" src="/res/img/long-dark.svg" alt="Team Fuho Vietnam" />
    </a>
    <div id="swipe">
      <div id="btn">
        <label>
          <a class="txtd dindex" href={`/${exlang}`}>
            {nav_home}
          </a>
        </label>
        <label>
          <a class="txtd dinfo" href={`/${exlang}/info`}>
            {nav_info}
          </a>
        </label>
        <label>
          <a class="txtd dgallery" href={`/${exlang}/gallery`}>
            {nav_gall}
          </a>
        </label>
        <label>
          <a class="txtd dnews" href={`/${exlang}/news`}>
            {nav_news}
          </a>
        </label>
        <label>
          <a class="txtd dcomm" href={`/${exlang}/comm`}>
            {nav_comm}
          </a>
        </label>
        <label>
          <a class="txtd ddl" href={`/${exlang}/dl`}>
            {nav_dl}
          </a>
        </label>
      </div>
      <div id="tab">
        <!-- <p>Ngôn ngữ:</p>
                <div id="h_n_1">
                    <svg class="vul" viewBox="0 0 24 24" fill="#002049">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path
                            d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2s.07-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
                    </svg>
                </div> -->
      </div>
    </div>
    <div id="butt">
      <svg viewBox="0 0 22 22" version="1.1">
        <path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z" />
      </svg>
    </div>
  </div>
  <span id="wrapper">
    <div id="dialogbox">
      <span
        style="position:absolute;left: -8vh;width: 24vh;top: -5vh;height: 24vh;background: #ff7518;border-radius: 100vmax;z-index:-1"></span>
      <span onclick="document.getElementById('wrapper').style.display = 'none'"
        style="position: absolute;right: 1vh;top: 1vh;"><svg viewBox="0 0 24 24" fill="#002049"
          style="width: 4vh;height:4vh">
          <path d="M0 0h24v24H0V0z" fill="none" />
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
        </svg></span>
      <div class="sl_en lang-popup">
        <h2>Welcome!</h2>
        <p>Please select your language</p>
      </div>
      <div class="sl_vi lang-popup">
        <h2>Chào mừng!</h2>
        <p>Xin vui lòng chọn ngôn ngữ của bạn</p>
      </div>
      <div class="sl_nom lang-popup">
        <h2>Chào mừng!</h2>
        <p>Xin vui lòng chọn ngôn ngữ của bạn</p>
      </div>
      <div class="sl_jp lang-popup">
        <h2>Konnichiwa!</h2>
        <p>Đây là tiếng Nhật</p>
      </div>
      <div class="sl_fr lang-popup">
        <h2>Bonjour!</h2>
        <p>la la la la la la la la la la la</p>
      </div>
      <div class="sl_kr lang-popup">
        <h2>어서 오십시오!</h2>
        <p>언어를 선택하세요</p>
      </div>
      <div class="sl_cn lang-popup">
        <h2>欢迎!</h2>
        <p>请选择您的语言</p>
      </div>
      <div class="sl_ru lang-popup">
        <h2>Добро пожаловать!</h2>
        <p>Пожалуйста, выберите ваш язык</p>
      </div>
      <div id="langSelector">
        <p class="sl_vi lang-popup">Dựa trên khu vực của bạn:</p>
        <p class="sl_nom lang-popup">Dựa trên khu vực của bạn:</p>
        <p class="sl_en lang-popup">Based on your GeoLocation:</p>
        <p class="sl_ru lang-popup">Cao Sao Vàng, cyka blyat:</p>
        <p class="sl_jp lang-popup">kore wa:</p>
        <p class="sl_fr lang-popup">I don't know french:</p>
        <p class="sl_kr lang-popup">Đi cách li ăn bánh mỳ:</p>
        <p class="sl_cn lang-popup">Truong Sa, Hoang Sa la cua VietNam</p>
        <ul id="gloc">
          <li onclick="languageSelector('vi');lang='vi'">
            <img src="/flags/vi.svg" alt="">
            <span>Tiếng Việt</span>
          </li>
        </ul>
        <p class="sl_vi lang-popup">Chọn ngôn ngữ:</p>
        <p class="sl_nom lang-popup">Chọn ngôn ngữ:</p>
        <p class="sl_en lang-popup">Select language:</p>
        <p class="sl_ru lang-popup">Выбрать язык:</p>
        <p class="sl_jp lang-popup">pansu:</p>
        <p class="sl_fr lang-popup">la la la la:</p>
        <p class="sl_kr lang-popup">An banh my:</p>
        <p class="sl_cn lang-popup">Fuck chinese:</p>
        <ul id="lst">
          <li onclick="languageSelector('vi')" id="lse_vi">
            <img src="/flags/vi.svg">
            <span>Tiếng Việt</span>
          </li>
          <li onclick="languageSelector('nom')" id="lse_tv">
            <img src="/flags/vi.svg">
            <span>Tiếng Việt(chữ Nôm)</span>
          </li>
          <li onclick="languageSelector('en')" id="lse_en">
            <img src="/flags/en.svg">
            <span>English</span>
          </li>
          <!-- <li onclick="languageSelector('ru')" id="lse_ru">
                        <img src="/flags/ru.svg">
                        <span>русский</span>
                    </li> -->
          <li onclick="languageSelector('jp')" id="lse_jp">
            <img src="/flags/jp.svg">
            <span>日本語</span>
          </li>
          <!-- <li onclick="languageSelector('fr')" id="lse_fr">
                        <img src="/flags/fr.svg">
                        <span>France</span>
                    </li>
                    <li onclick="languageSelector('kr')" id="lse_kr">
                        <img src="/flags/kr.svg">
                        <span>한국인</span>
                    </li>
                    <li onclick="languageSelector('cn')" id="lse_cn">
                        <img src="/flags/cn.svg">
                        <span>中国人</span>
                    </li> -->
        </ul>
      </div>
      <button type="button" onclick="relang()">OK</button>
    </div>
  </span>

  <slot />

  <footer>
    <div>
      <div>
        <img class="icns" loading="lazy" src="/res/img/long-bright.svg" alt="Team Fuho Vietnam"
          id="bottomLogo" />
        <div>
          <p>
            {credit}
          <div class="badges" style="margin: 8px;margin-top: 10px">
            <a href="//www.dmca.com/Protection/Status.aspx?ID=1018bdeb-c138-41ad-8b34-0c6222140616"
              title="DMCA.com Protection Status" class="dmca-badge">
              <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=1018bdeb-c138-41ad-8b34-0c6222140616"
                width="100" height="20" alt="DMCA.com Protection Status" style="height: auto">
            </a>
          </div>
          </p>
        </div>
      </div>
      <span onclick="window.scrollTo(0,0)">
        <svg viewBox="0 0 22 22">
          <path d="m 11.5,6.5 8,6 v 2 l -8,-6 -9,6 v -2 z"></path>
        </svg>
      </span>
      <div>
        <h3>
          {links}
        </h3>
        <div>
          <a href={`/${exlang}/en`}>
            {nav_home}
          </a>
          <a href={`/${exlang}/info`}>
            {nav_info}
          </a>
          <a href={`/${exlang}/download#dl`}>
            {nav_down}
          </a>
          <a href={`/${exlang}/gallery`}>
            {nav_gall}
          </a>
          <a href={`/${exlang}/comm#form`}>
            {nav_join}
          </a>
          <a href={`/${exlang}/news`}>
            {nav_news}
          </a>
          <!-- <a href="#"></a> -->
        </div>
      </div>
    </div>
    <div>
      <div>
        <p>
          <!--mark-->
        </p>
        <div>
          <a target="_blank" id="facebook" href="https://www.facebook.com/teamfuho/">
            <svg viewBox="0 0 26.458334 26.458333">
              <path
                d="m 11.480436,13.271886 v 6.467133 c 0,0.09233 0.07579,0.16812 0.169499,0.16812 h 2.400542 c 0.09371,0 0.169499,-0.07579 0.169499,-0.16812 v -6.573242 h 1.740462 c 0.08682,0 0.159853,-0.06615 0.168121,-0.154341 l 0.166743,-1.98024 c 0.0083,-0.09784 -0.0689,-0.181901 -0.166743,-0.181901 H 14.219976 V 9.4436957 c 0,-0.329351 0.265962,-0.595313 0.595313,-0.595313 h 1.342209 c 0.09371,0 0.168121,-0.07579 0.168121,-0.169499 v -1.98024 c 0,-0.09233 -0.07442,-0.168121 -0.168121,-0.168121 h -2.268251 c -1.329807,0 -2.408811,1.079004 -2.408811,2.410189 v 1.9085833 h -1.200271 c -0.09371,0 -0.168121,0.07579 -0.168121,0.16812 v 1.980241 c 0,0.09371 0.07441,0.168121 0.168121,0.168121 h 1.200271 z m 0,0"
                id="path34320" />
              <path
                d="m 24.742675,13.21952 c 0,6.352756 -5.170399,11.523155 -11.523155,11.523155 -6.355512,0 -11.524533,-5.170399 -11.524533,-11.523155 0,-6.3541343 5.169021,-11.5245332 11.524533,-11.5245332 6.352756,0 11.523155,5.1703989 11.523155,11.5245332 M 13.21952,0 C 5.929699,0 0,5.9296987 0,13.21952 c 0,7.288444 5.929699,13.218142 13.21952,13.218142 7.288444,0 13.218143,-5.929698 13.218143,-13.218142 C 26.437663,5.9296987 20.507964,0 13.21952,0"
                id="path34322" />
            </svg>
          </a>
          <a target="_blank" id="insta" href="https://www.instagram.com/teamfuho/">
            <svg viewBox="0 0 26.458334 26.458333">
              <path
                d="m 18.712381,15.925987 c 0,1.537892 -1.247126,2.786394 -2.786394,2.786394 h -5.412934 c -1.539268,0 -2.78777,-1.248502 -2.78777,-2.786394 v -5.41431 c 0,-1.5392719 1.248502,-2.7863942 2.78777,-2.7863942 h 5.412934 c 1.539268,0 2.786394,1.2471223 2.786394,2.7863942 z m 1.332562,-5.476325 c 0,-2.2393098 -1.816256,-4.0569443 -4.058321,-4.0569443 h -5.53558 c -2.240689,0 -4.056945,1.8176345 -4.056945,4.0569443 v 5.53696 c 0,2.240689 1.816256,4.056944 4.056945,4.056944 h 5.53558 c 2.242065,0 4.058321,-1.816255 4.058321,-4.056944 z m -4.602646,2.673396 c 0,-1.175466 -0.95498,-2.131826 -2.13045,-2.131826 -1.174086,0 -2.130446,0.95636 -2.130446,2.131826 0,1.174087 0.95636,2.130446 2.130446,2.130446 1.17547,0 2.13045,-0.956359 2.13045,-2.130446 m 1.196135,0 c 0,1.83279 -1.492415,3.325206 -3.326585,3.325206 -1.834165,0 -3.325205,-1.492416 -3.325205,-3.325206 0,-1.834169 1.49104,-3.3265851 3.325205,-3.3265851 1.83417,0 3.326585,1.4924161 3.326585,3.3265851 M 17.62373,9.5718522 c 0,0.4382168 -0.354157,0.7923738 -0.790995,0.7923738 -0.436837,0 -0.79237,-0.354157 -0.79237,-0.7923738 0,-0.4368377 0.355533,-0.7909913 0.79237,-0.7909913 0.436838,0 0.790995,0.3541536 0.790995,0.7909913"
                id="path34332" />
              <path
                d="m 13.219522,24.741296 c -6.354135,0 -11.523158,-5.16902 -11.523158,-11.523154 0,-6.3541344 5.169023,-11.5231549 11.523158,-11.5231549 6.354131,0 11.523154,5.1690205 11.523154,11.5231549 0,6.354134 -5.169023,11.523154 -11.523154,11.523154 M 13.219522,0 C 5.931077,0 0,5.9296969 0,13.218142 c 0,7.288445 5.931077,13.218142 13.219522,13.218142 7.288441,0 13.218142,-5.929697 13.218142,-13.218142 C 26.437664,5.9296969 20.507963,0 13.219522,0"
                id="path34334" />
            </svg>
          </a>
          <!-- <a target="_blank" id="reddit" href="#reddit">
					  <svg viewBox="0 0 26.458334 26.458333">
						  <path d="m 15.81088,15.153497 h -0.05474 l 0.0078,-0.04158 c -0.613825,0 -1.115572,-0.500266 -1.115572,-1.112278 0,-0.613313 0.501747,-1.11358 1.115572,-1.11358 0.615128,0 1.116876,0.500267 1.116876,1.11358 0.02476,0.612012 -0.454833,1.12917 -1.069961,1.153859 m 0.152481,1.904906 v -0.04418 c -0.791067,0.593819 -1.760677,0.896578 -2.752438,0.856298 -0.990461,0.04028 -1.96007,-0.262479 -2.752439,-0.856298 -0.105563,-0.127343 -0.08601,-0.317053 0.04171,-0.422302 0.110775,-0.09096 0.268464,-0.09096 0.381848,0 0.671168,0.488571 1.486994,0.736753 2.31846,0.69777 0.830163,0.04548 1.649899,-0.192308 2.328884,-0.675683 0.121204,-0.119541 0.320598,-0.115643 0.440497,0.0052 0.118595,0.122141 0.115986,0.320948 -0.0065,0.439193 M 9.4928019,13.960641 c 0,-0.613313 0.5004437,-1.112279 1.1155721,-1.112279 0.613827,0 1.115572,0.498966 1.115572,1.112279 0,0.613312 -0.501745,1.112278 -1.115572,1.112278 -0.6177338,-0.0052 -1.1155721,-0.498966 -1.1155721,-1.112278 m 9.4536891,-2.675446 c -0.39879,0.013 -0.778032,0.176717 -1.066048,0.449588 -1.26805,-0.861495 -2.758954,-1.333174 -4.290261,-1.366957 l 0.723298,-3.4641759 2.383621,0.4989655 c 0.06777,0.6107119 0.615128,1.0525057 1.227651,0.9862367 0.611219,-0.066269 1.054321,-0.6133124 0.987856,-1.2227259 -0.06647,-0.6107147 -0.615129,-1.0525061 -1.226347,-0.98624 -0.351875,0.036385 -0.667258,0.2403887 -0.841892,0.5444452 L 14.114063,6.1798911 c -0.18506,-0.04158 -0.371422,0.074067 -0.413125,0.2624796 v 0.00519 l -0.822346,3.8539943 c -1.550854,0.02469 -3.0600009,0.500267 -4.3449958,1.366958 -0.652922,-0.612012 -1.682477,-0.582127 -2.2976053,0.07146 -0.6151283,0.652295 -0.5851546,1.67881 0.071676,2.292123 0.1277166,0.119546 0.273679,0.2209 0.4378881,0.292364 -0.011746,0.163724 -0.011746,0.326148 0,0.489872 0,2.487033 2.9075218,4.510184 6.492732,4.510184 3.586511,0 6.494033,-2.020553 6.494033,-4.510184 0.01174,-0.163724 0.01174,-0.326148 0,-0.489872 0.560393,-0.27807 0.910964,-0.8524 0.900538,-1.476108 C 20.598968,11.953071 19.8457,11.254 18.946467,11.285185" id="path47938"/>
						  <path d="m 13.219521,24.7413 c -6.354134,0 -11.523157,-5.169023 -11.523157,-11.523158 0,-6.3541308 5.169023,-11.5231542 11.523157,-11.5231542 6.354131,0 11.523155,5.1690234 11.523155,11.5231542 0,6.354135 -5.169024,11.523158 -11.523155,11.523158 m 0,-24.7413 C 5.931076,0 0,5.9297004 0,13.218142 c 0,7.288445 5.931076,13.219522 13.219521,13.219522 7.288442,0 13.218143,-5.931077 13.218143,-13.219522 C 26.437664,5.9297004 20.507963,0 13.219521,0" id="path34342" />
					  </svg>
				  </a> -->
          <a target="_blank" id="youtube" href="https://www.youtube.com/channel/UC5j0m8ecM66tqpURMhHFP6w">
            <svg viewBox="0 0 26.458334 26.458333">
              <path
                d="m 15.910828,13.310471 -3.553961,1.751489 c -0.139182,0.07579 -0.624251,-0.0248 -0.624251,-0.183279 v -3.595303 c 0,-0.159854 0.489204,-0.260448 0.628385,-0.181902 l 3.395486,1.843817 c 0.141941,0.08131 0.297657,0.286632 0.154341,0.365178 m 4.369759,-1.835545 c 0,-1.7046332 -1.382172,-3.0868052 -3.088185,-3.0868052 H 9.245258 c -1.704633,0 -3.086806,1.382172 -3.086806,3.0868052 v 3.487815 c 0,1.704633 1.382173,3.086806 3.086806,3.086806 h 7.947144 c 1.706013,0 3.088185,-1.382173 3.088185,-3.086806 z m 0,0"
                id="path34340" />
              <path
                d="m 13.219521,24.7413 c -6.354134,0 -11.523157,-5.169023 -11.523157,-11.523158 0,-6.3541312 5.169023,-11.5231542 11.523157,-11.5231542 6.354131,0 11.523155,5.169023 11.523155,11.5231542 0,6.354135 -5.169024,11.523158 -11.523155,11.523158 m 0,-24.7413 C 5.931076,0 0,5.9297008 0,13.218142 c 0,7.288445 5.931076,13.219522 13.219521,13.219522 7.288442,0 13.218143,-5.931077 13.218143,-13.219522 C 26.437664,5.9297008 20.507963,0 13.219521,0"
                id="path34342" />
            </svg>
          </a>
          <!-- <a target="_blank" id="twitter" href="#twitter">
					  <svg viewBox="0 0 26.458334 26.458333">
						  <path d="m 19.965017,8.9613823 c -0.431327,0.1956823 -0.921907,0.3141945 -1.387683,0.3927405 0.220486,-0.037207 0.540191,-0.4382171 0.669724,-0.5994471 0.198437,-0.2480451 0.361047,-0.5291666 0.453376,-0.8337126 0.01242,-0.023425 0.0193,-0.053742 -0.0041,-0.071656 -0.0303,-0.011007 -0.04961,-0.0055 -0.07441,0.00688 -0.519518,0.2783628 -1.058333,0.4809349 -1.631597,0.6242509 -0.04685,0.011007 -0.08268,0 -0.111619,-0.030304 C 17.830443,8.3963911 17.786346,8.3454041 17.735359,8.3040621 17.4942,8.1001107 17.236507,7.9388806 16.945744,7.820372 16.562648,7.6646524 16.1451,7.5985065 15.73307,7.6246897 c -0.401009,0.026176 -0.79375,0.1391814 -1.149286,0.3252152 -0.356913,0.1860374 -0.675238,0.4451068 -0.927418,0.7579219 -0.261828,0.3224601 -0.456131,0.7041762 -0.553974,1.1093203 -0.09646,0.3899849 -0.08819,0.7758359 -0.02893,1.1713309 0.0083,0.06477 0.0028,0.07442 -0.0565,0.06477 C 10.776269,10.719764 8.918676,9.919121 7.411101,8.2007088 7.346331,8.1262938 7.310506,8.1262938 7.256761,8.2062088 6.596682,9.1956376 6.917762,10.784517 7.74183,11.564487 c 0.108867,0.104729 0.221866,0.208083 0.343133,0.303167 -0.0441,0.0096 -0.591178,-0.04961 -1.080382,-0.303167 -0.06615,-0.04134 -0.09922,-0.01655 -0.104733,0.0565 -0.0055,0.107487 0.0041,0.205327 0.01792,0.321084 0.126781,1.003212 0.821312,1.929253 1.770782,2.291676 0.112998,0.04686 0.2384,0.08957 0.361043,0.110243 -0.217727,0.04686 -0.440972,0.08131 -1.061089,0.03168 -0.07855,-0.01379 -0.107487,0.0248 -0.07855,0.09922 0.467155,1.271926 1.474502,1.649511 2.229668,1.865863 0.100595,0.01792 0.202572,0.01792 0.303167,0.04134 -0.0069,0.0096 -0.01242,0.0096 -0.01792,0.01792 -0.250804,0.381716 -1.117589,0.665593 -1.521354,0.80753 -0.735873,0.256314 -1.536513,0.372071 -2.312349,0.294901 -0.124023,-0.01792 -0.150206,-0.01655 -0.184655,0 -0.03305,0.02205 -0.0041,0.05099 0.03583,0.08268 0.157095,0.104733 0.318325,0.197062 0.480934,0.286632 0.494715,0.260449 1.008723,0.468535 1.546158,0.617361 2.776749,0.767567 5.904893,0.203952 7.989866,-1.868618 1.637108,-1.626087 2.211751,-3.869531 2.211751,-6.117113 0,-0.08682 0.103354,-0.136423 0.165365,-0.1819 0.427193,-0.321084 0.795129,-0.7041757 1.113455,-1.1313684 0.07028,-0.096464 0.09646,-0.1819028 0.09646,-0.2163516 V 8.96138 c 0,-0.035828 -0.02618,-0.0248 -0.0813,0" id="path34328" />
						  <path d="m 13.219521,24.741297 c -6.354134,0 -11.523157,-5.169023 -11.523157,-11.523154 0,-6.3541339 5.169023,-11.5231559 11.523157,-11.5231559 6.354131,0 11.523155,5.169022 11.523155,11.5231559 0,6.354131 -5.169024,11.523154 -11.523155,11.523154 M 13.219521,0 C 5.931076,0 0,5.9296984 0,13.218143 c 0,7.288442 5.931076,13.218142 13.219521,13.218142 7.288442,0 13.218143,-5.9297 13.218143,-13.218142 C 26.437664,5.9296984 20.507963,0 13.219521,0" id="path34330" />
					  </svg>
				  </a> -->
          <a target="_blank" id="discord" href="https://discord.gg/aKUU4gGyDq">
            <svg viewBox="0 0 26.458334 26.458333">
              <path
                d="m 13.229167,24.7413 c -6.3541343,0 -11.5231573,-5.169023 -11.5231573,-11.523158 0,-6.3541308 5.169023,-11.5231542 11.5231573,-11.5231542 6.354131,0 11.523155,5.1690234 11.523155,11.5231542 0,6.354135 -5.169024,11.523158 -11.523155,11.523158 m 0,-24.7413 C 5.9407217,0 0.00964567,5.9297004 0.00964567,13.218142 c 0,7.288445 5.93107603,13.219522 13.21952133,13.219522 7.288442,0 13.218143,-5.931077 13.218143,-13.219522 C 26.44731,5.9297004 20.517609,0 13.229167,0"
                id="path34342" />
              <path
                d="m 19.244303,8.7178137 c 0,0 -1.720826,-1.3487548 -3.756877,-1.5037841 l -0.180867,0.3669027 c 1.83968,0.4495849 2.682006,1.0955403 3.565673,1.8861897 -1.519287,-0.7751465 -3.023071,-1.5037841 -5.637898,-1.5037841 -2.614828,0 -4.1186117,0.7286376 -5.6378988,1.5037841 C 8.4801022,8.6764726 9.4826249,7.9581702 11.162109,7.5809323 L 10.981241,7.2140296 C 8.8470048,7.4155677 7.2243649,8.7178137 7.2243649,8.7178137 c 0,0 -1.9223632,2.7905273 -2.2530923,8.2682293 1.9378661,2.237589 4.8834226,2.253092 4.8834226,2.253092 L 10.469645,18.41748 C 9.4257808,18.055745 8.2423906,17.404622 7.2243649,16.231567 c 1.2143961,0.91984 3.0540771,1.881022 6.0151361,1.881022 2.96106,0 4.795573,-0.956014 6.015137,-1.881022 -1.018026,1.173055 -2.201416,1.824178 -3.24528,2.185913 l 0.61495,0.821655 c 0,0 2.945556,-0.0155 4.883422,-2.253092 -0.341064,-5.477702 -2.263427,-8.2682293 -2.263427,-8.2682293 z m -8.459432,6.7644443 c -0.728638,0 -1.317749,-0.671793 -1.317749,-1.503784 0,-0.83199 0.589111,-1.503784 1.317749,-1.503784 0.728638,0 1.317749,0.671794 1.317749,1.503784 0,0.831991 -0.589111,1.503784 -1.317749,1.503784 z m 4.88859,0 c -0.728637,0 -1.317749,-0.671793 -1.317749,-1.503784 0,-0.83199 0.589112,-1.503784 1.317749,-1.503784 0.728638,0 1.317749,0.671794 1.317749,1.503784 0,0.831991 -0.594279,1.503784 -1.317749,1.503784 z"
                id="logo" />
            </svg>
          </a>
          <!-- <a target="_blank" id="twitch" href="#twitch">
					  <svg viewBox="0 0 26.458334 26.458333">
						  <path d="m 13.229167,24.7413 c -6.3541343,0 -11.5231573,-5.169023 -11.5231573,-11.523158 0,-6.3541308 5.169023,-11.5231542 11.5231573,-11.5231542 6.354131,0 11.523155,5.1690234 11.523155,11.5231542 0,6.354135 -5.169024,11.523158 -11.523155,11.523158 m 0,-24.7413 C 5.9407217,0 0.00964567,5.9297004 0.00964567,13.218142 c 0,7.288445 5.93107603,13.219522 13.21952133,13.219522 7.288442,0 13.218143,-5.931077 13.218143,-13.219522 C 26.44731,5.9297004 20.517609,0 13.229167,0" id="path34342" />
						  <path d="m 19.07516,12.98255 -2.204399,1.977881 H 14.665717 L 12.73711,16.691439 V 14.960431 H 10.256921 V 7.5426504 H 19.07516 Z M 9.7053367,6.554 6.95,9.0262065 v 8.9013355 h 3.306921 v 2.472787 l 2.755335,-2.472787 h 2.205045 l 4.96038,-4.450668 V 6.554 H 9.7053367" id="path4070" />
						  <path d="M 16.319177,9.2736593 H 17.4217 V 12.240771 H 16.319177 V 9.2736593" id="path4072" />
						  <path d="m 13.288049,9.2736593 h 1.102523 V 12.240771 H 13.288049 V 9.2736593" id="path4074" />
					  </svg>
				  </a> -->
        </div>
      </div>
    </div>
</footer>
</body>

</html>
