---
import Defaults from "../defaults"
const { dburl, img_placeholder, alt_placeholder, allowedLanguages, defaultLanguage } = Defaults

import "./css/main.css"

export interface MainRequired {
	lang?: string,
	filename?: string,
	meta_title?: string,
	meta_description?: string,
	meta_img?: string,
}

const {
		lang = defaultLanguage,
		filename = "index",
		meta_title = "test",
		meta_description = "test",
		meta_img = ""
	} = Astro.props as MainRequired,
	langfile = `./lang/${lang}/glob.json`

export interface LangRequired {
	nav_home: string,
	nav_info: string,
	nav_gall: string,
	nav_news: string,
	nav_comm: string,
	nav_down: string,
	nav_join: string,
	nav_dl: string,
	credit: string,
	links: string
}

const { nav_home, nav_info, nav_gall, nav_news, nav_comm, nav_down, nav_join, nav_dl, credit, links } = 
	await import( /* @vite-ignore */ langfile, { assert: { type: 'json' } }) as LangRequired

const title=`test ${filename != "index" ? "- " : ""}${meta_title}`,
	exlang = (lang == (defaultLanguage || allowedLanguages[0])) ? "" : ("/" + lang)
---

<!DOCTYPE html>
<html lang={lang} style="scroll-behavior: smooth;">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="">
	<meta property="og:title" content={title}>
	<meta property="og:type" content="website" />
	<meta property="description" content={meta_description}>
	<meta property="og:description" content={meta_description}>
	<meta property="og:image" content={meta_img}>
	<meta name="twitter:card" content="summary_large_image">
	<title>{title}</title>
	<!-- <style>
		a.txtd.d{filename} {
			color: #ff7518!important;
		}
	</style> -->
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="stylesheet" href={`/css/${lang}.css`}>
	<script define:vars={{ lang, exlang, filename, dburl, img_placeholder, alt_placeholder }}>
		window.addEventListener("DOMContentLoaded", e => (document.querySelector(`a.txtd.d${filename}`) || { style: {} } ).style.color = "#ff7518")
		window.lang = lang
		window.exlang = exlang
		window.dburl = dburl
		window["customfunc"] = new Array
		window.global = window
	</script>
	<script type="text/javascript"  src="/js/main.js"></script>
</head>

<body id="root" style="display: none">
	<div class="nav bgw">
		<a href={`${exlang}/`}>
			<img class="icns" loading="lazy" src="" alt="test" />
		</a>
		<div id="swipe">
			<div id="btn">
				<label>
					<a class="txtd dindex" href={`${exlang}/`}>
						{nav_home}
					</a>
				</label>
			</div>
			<div id="tab">
				<!-- <p>Ngôn ngữ:</p>
								<div id="h_n_1">
										<svg class="vul" viewBox="0 0 24 24" fill="#002049">
												<path d="M0 0h24v24H0V0z" fill="none" />
												<path
														d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm6.93 6h-2.95c-.32-1.25-.78-2.45-1.38-3.56 1.84.63 3.37 1.91 4.33 3.56zM12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96zM4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2H4.26zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56-1.84-.63-3.37-1.9-4.33-3.56zm2.95-8H5.08c.96-1.66 2.49-2.93 4.33-3.56C8.81 5.55 8.35 6.75 8.03 8zM12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96zM14.34 14H9.66c-.09-.66-.16-1.32-.16-2s.07-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2zm.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95c-.96 1.65-2.49 2.93-4.33 3.56zM16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2h-3.38z" />
										</svg>
								</div> -->
			</div>
		</div>
		<div id="butt">
			<svg viewBox="0 0 22 22" version="1.1">
				<path fill="#06000" d="m 8,10 5,10 V 18 L 9,10 13,3 V 1 Z" />
			</svg>
		</div>
	</div>

	<slot />

	<footer>
		<div>
			<div>
				<img class="icns" loading="lazy" src="" alt="test"
					id="bottomLogo" />
				<div>
					<p>
						{credit}
					<div class="badges" style="margin: 8px;margin-top: 10px">
						<a href="//www.dmca.com/Protection/Status.aspx?ID=1018bdeb-c138-41ad-8b34-0c6222140616"
							title="DMCA.com Protection Status" class="dmca-badge">
							<img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-01.png?ID=1018bdeb-c138-41ad-8b34-0c6222140616"
								width="100" height="20" alt="DMCA.com Protection Status" style="height: auto">
						</a>
					</div>
					</p>
				</div>
			</div>
			<span onclick="window.scrollTo(0,0)">
				<svg viewBox="0 0 22 22">
					<path d="m 11.5,6.5 8,6 v 2 l -8,-6 -9,6 v -2 z"></path>
				</svg>
			</span>
			<div>
				<h3>
					{links}
				</h3>
				<div>
					<!-- <a href="#"></a> -->
				</div>
			</div>
		</div>
		<div>
			<div>
				<p>
					<!--mark-->
				</p>
			</div>
		</div>
</footer>
</body>

</html>
